body{
  background-color:lightyellow;
}
.firstBox{
  position:absolute;
  height:10vw;
  width:10vw;
  background-color: tomato;
  left:500px;
}

.secondBox{

   position:absolute;
   height:10vw;
   width:10vw;
   border-radius:50%;
   background-color:pink;

}
