body{
  background-color:lightyellow;
}

.drag{
  position:absolute;
  height:20vw;
  width:20vw;
  border-radius:50%;
  background-color:brown;
}

.square{
  background-color:tomato;
  left:20px;
  z-index:99;
}
